
.hotel-room-table {
  border-collapse: collapse;
  border: 2px solid #996633;
  margin-top: 10px;
}

.hotel-ava-room-cell {
  background-color: #488689;
  width: 40px;
  height: 50px;
  color: #FFFFFF;
  text-align: center;
  vertical-align: center;
  border: 1px solid #FFFFFF;
}

.hotel-ava-room-cell:hover {
  cursor: pointer;
  background-color: #658788;
}

.hotel-res-room-cell {
  background-color: #864D57;
  width: 40px;
  height: 50px;
  color: #FFFFFF;
  text-align: center;
  vertical-align: center;
  border: 1px solid #FFFFFF;
}

.hotel-res-room-cell:hover {
  cursor: pointer;
  background-color: #86676D;
}

.hotel-hori-hall-cell {
  background-color: #999966;
  height: 20px;
}

.hotel-vert-hall-cell {
  background-color: #999966;
  width: 40px;
  height: 50px;
}

.hotel-ava-text {
  color: #488689;
}

.hotel-res-text {
  color: #864D57;
}